@import 'simplebar-react/dist/simplebar.min.css';

.simplebar-scrollbar:before {
  background-color: var(--palette-text-disabled);
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 0.48;
}

.simplebar-placeholder {
  max-height: 100%;
}

.simplebar-content-wrapper {
  max-width: 100%;
}
